@model HashSet<StatusURL>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />

<form asp-action="Index" class="input-group mb-3">
    <input name="Url" type="text" class="form-control" placeholder="Enter A URL" aria-label="Url" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button name="Crawl" class="btn btn-outline-secondary" type="submit">Crawl Now</button>
    </div>
</form>


<br />
<br />



@*<div class="row">
    <div class="col">
        Export
    </div>
    <div class="col">
        Export
    </div>
    <div class="col">
        Export
    </div>
</div>*@

<div class="row">
    <div class="col">
        <ul class="list-group">
            @if (Model != null)
            {
                foreach (var item in Model.Where(x => x.Status == 200))
                {
                    @*int inc2 = 0;*@
                    <li class="list-group-item list-group-item-action list-group-item-primary">
                        <div class="d-flex">
                            @*<strong>@inc2. &nbsp; </strong>*@
                            <a href="@item.Url" onclick="copyText(@item.Url)">@item.Url</a>
                            &nbsp; &nbsp;<span class="badge bg-success">@item.Status</span>
                        </div>
                    </li>
                }
            }
            else
            {

            }
        </ul>
    </div>

    <div class="col">
        <ul class="list-group">
            @if (Model != null)
            {
                foreach (var item in Model.Where(x => x.Status == 400))
                {
                    @*int inc4 = 0;*@
                    <li class="list-group-item list-group-item-action list-group-item-primary">
                        <div class="d-flex">
                            @*<strong>@inc4. &nbsp; </strong>*@
                            <a href="@item.Url" onclick="copyText(@item.Url)">@item.Url</a>
                            &nbsp; &nbsp;<span class="badge bg-warning">@item.Status</span>
                        </div>
                    </li>
                }
            }
            else
            {

            }

        </ul>
    </div>

    <div class="col">
        <ul class="list-group">
            @if (Model != null)
            {
                foreach (var item in Model.Where(x => x.Status == 500))
                {
                    @*int inc5 = 0;*@
                    <li class="list-group-item list-group-item-action list-group-item-primary">
                        <div class="d-flex">
                            @*<strong>@inc5. &nbsp; </strong>*@
                            <a href="@item.Url" onclick="copyText(@item.Url)">@item.Url</a>
                            &nbsp; &nbsp;<span class="badge bg-secondary">500</span>
                        </div>
                    </li>
                }
            }
            else
            {

            }
        </ul>
    </div>
</div>


<script>
    function copyText(element) {
        var text = element.getAttribute('href');
        navigator.clipboard.writeText(text)
            .then(function () {
                console.log('Text copied to clipboard');
            })
            .catch(function () {
                console.error('Could not copy text to clipboard');
            });
    }
</script>